<html>
<body>
<a href="/">Return to home</a>
<h1 th:id="${addressBook.id}">AddressBook <span th:text="${addressBook.id}" /></h1>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Phone Number </th>
        <th> Address </th>
    </tr>
    </thead>
    <tbody id="buddyInfoList">
    <tr th:each="buddyInfo : ${addressBook.list}">
        <td><span th:text="${buddyInfo.name}"> Name </span></td>
        <td><span th:text="${buddyInfo.phoneNumber}"> Phone Number </span></td>
        <td><span th:text="${buddyInfo.address}"> Address </span></td>
        <td>
            <form th:action="@{/addressbook/{addressBookId}/delete/{buddyId}(addressBookId=${addressBook.id},buddyId=${buddyInfo.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</br>
</br>

<form id="addBuddyInfo" th:object="${buddyInfo}" th:action="@{/addressbook/{id}/create/addBuddy(id=${addressBook.id})}" method="post">
    <label for="name">Name:</label></br>
    <input type="text" id="name" name="name" th:field="*{name}"></br>

    <label for="phoneNumber">Phone Number:</label></br>
    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"></br>

    <label for="address">Address:</label></br>
    <input type="text" id="address" name="address" th:field="*{address}"></br>

    </br>
    <button type="submit">Add new BuddyInfo</button>
</form>

</body>
</html>